DATABASE_DSN=postgres://example:example@localhost:5432/example

DOCKER_POSTGRES_USER=example
DOCKER_POSTGRES_PASSWORD=example
DOCKER_POSTGRES_DB=example

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://example:example@localhost:5432/example
GOOSE_MIGRATION_DIR=./migrations
