DATABASE_DSN=postgres://example:example@localhost:5432/example

REDIS_URL=redis://localhost:6379/0

JWT_PRIVATE_KEY_PATH="./keys/private.pem"
JWT_PUBLIC_KEY_PATH="./keys/public.pem"

CONFIG_PATH="./config/sso/config_local.yaml"